
//Mixin for styling button colors
@mixin buttons($color){
  background-color: $color;
  border: 2px solid $color;
}


//flexbox mixin
@mixin flex($disp: null, $dir: null, $cnt: null) {
  display: $disp;
  flex-direction: $dir;
  justify-content: $cnt;
}

//Media Query Mixin

@mixin mq($break) {
  @if $break == 'xs' {
    @media (max-width: $break-xs) {
      @content;
    }
  }
  @else if $break == 'sm' {
    @media (min-width: $break-sm) {
      @content;
    }
  }
  @else if $break == 'md' {
    @media (min-width: $break-md) {
      @content;
    }
  }
  @else if $break == 'lg' {
    @media (min-width: $break-lg) {
      @content;
    }
  }
}

