.img {

  &--logo {
    @extend %img;
    width: 162px;
  }

  &--frame {
    @extend %img;
    padding: 15px;
    border: 1px solid $theme_color_two;
  }

  &--avatar {
    @extend %img;
    margin: 1.33rem auto;
    @include mq('md') {
      margin: 0 auto 0;
    }
  }
}

.form > .img--avatar {
  margin: 1.33rem auto;
}

.link {
  width: 100%;
}