.img {

  &--logo {
    @extend %img;
    width: 162px;
  }

  &--frame {
    @extend %img;
    padding: 15px;
    border: 1px solid $theme_color_two;
  }

  &--avatar {
    @extend %img;
    margin-top: 1.33rem;
  }
}

.link {
  width: 100%;
}