.container {
  padding: 40px 30px 30px 30px;
  line-height: 1.5;
  @include mq('lg') {
    padding: 40px 125px 30px;
  }
}

.card {
  padding: 25px 15px;

  @include mq('md') {
    padding: 0 25px 15px 15px;
  }
}

.centered {
  @include mq('md') {
    display: block;
    margin: 0 auto;
  }
}