
//Site Navigation
.nav {
  padding-left: 0;
  @include flex(flex, column);

  @include mq('md') {
    @include flex ($dir: row, $cnt:flex-end);
  }

  @include mq('lg'){
    margin-right: 125px;
  }
}

.nav__item {
  @extend %nav-item;
  margin-bottom: 10px;
  a{
    @extend %links;
    padding: 15px;
    display: inline-block;
  }

  &:first-of-type {
    a{
      color: #fff;
    }
    background-color: $theme_color_one;
  }

}

