
//Site Navigation
.nav {
  padding-left: 0;
  @include flex(flex, column);
}

.nav__item {
  @extend %nav-item;
  margin-bottom: 10px;
  a{
    @extend %links;
    padding: 15px;
    display: inline-block;
  }

  &:first-of-type {
    a{
      color: #fff;
    }
    background-color: $theme_color_one;
  }
}

