* {
  font-family: $base_font;
  font-weight: normal;
  color: $theme_color_two;
  box-sizing: border-box;
}

//link in paragraph
p  a {
  @extend %links;
  color: $inline_links;
}

.card:first-of-type p {
  @include mq('lg'){
    margin: 60px 0;
  }
}